{% extends 'layout.html' %}

{% block title %}
<title>کهکشان</title>
{% endblock %}

{% block content %}
<section class="breadcrumb-area breadcrumb__hide-img" data-background="{{ url_for('static', filename='img/bg/breadcrumb_bg02.jpg') }}">
    <div class="container">
        <div class="breadcrumb__wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb__content">
                        <h2 class="title">با ما تماس بگیرید</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- breadcrumb-area-end --><!-- contact-area -->
<section class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="contact__content">
                    <h2 class="overlay-title"><span>به ما بپیوندید</span></h2>
                    <h2 class="title">ارتباط با ما</h2>
                    <p>اگه سوالی داری، مشکلی پیش اومده یا فقط می‌خوای با ما در ارتباط باشی، خوشحال می‌شیم صداتو بشنویم! از طریق فرم تماس، ایمیل یا شبکه‌های اجتماعی با ما در ارتباط باش و منتظر پاسخ سریع ما باش. 🚀✨</p>
                    <div class="footer-el-widget">
                        <h4 class="title">اطلاعات</h4>
                        <ul class="list-wrap">
                            <li><a href="tel:123">۰۹۰۵۰۵۵۲۰۹۱</a></li>
                            <li><a href="mailto:info@exemple.com">info@farzan.com</a></li>
                            <li>
                                مشهد، بین کوهسنگی 9 و 11، دبیرستان دولتی دخترانه فرزان
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <div class="contact__form-wrap">
                    <form
                        action="https://demo.bootstrap-store.ir/0424deb0-3f25-497f-b457-bafafc142c14/assets/mail.php"
                        id="contact-form" method="POST">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-grp"><input name="name" placeholder="نام *" required=""
                                        type="text" /></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-grp"><input name="email" placeholder="ایمیل *" required=""
                                        type="email" /></div>
                            </div>
                        </div>
                        <div class="input-grp message-grp"><textarea cols="30" name="message"
                                placeholder="پیام خود را بنویسید" rows="10"></textarea></div><button
                            class="submit-btn">ارسال</button>
                    </form>
                    <p class="ajax-response"></p>
                </div>
            </div>
        </div>
    </div>
</section><!-- contact-area-end --><!-- contact-map -->
<div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d695.8990956310461!2d59.575014991104275!3d36.28718585165496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f6c917a01624d5d%3A0xca43ffaa4cd6044f!2z2K_YqNuM2LHYs9iq2KfZhiDYr9mI2LHZhyDYp9mI2YQg2YXYqtmI2LPYt9mHINmB2LHYstin2YY!5e0!3m2!1sde!2sde!4v1741622491285!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div><!-- contact-map-end -->

{% endblock %}