{% extends 'layout.html' %}

{% block title %}
<title>کهکشان</title>
{% endblock %}

{% block content %}
<section class="match__result-area">
    <form id="quiz-form">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="w-75">
                {% for i in range(1, 11) %}
                <div class="my-3 p-3 border border-white rounded text-center">
                    <h5 class="text-white">سوال {{ i }}:</h5>
                    <p class="text-white">{{ questions[i-1]['question'] }}</p>
        
                    <div class="d-flex flex-column align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q{{ i }}" value="1">
                            <label class="form-check-label text-white">{{ questions[i-1]['options'][0] }}</label>
                        </div>
        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q{{ i }}" value="2">
                            <label class="form-check-label text-white">{{ questions[i-1]['options'][1] }}</label>
                        </div>
        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q{{ i }}" value="3">
                            <label class="form-check-label text-white">{{ questions[i-1]['options'][2] }}</label>
                        </div>
        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q{{ i }}" value="4">
                            <label class="form-check-label text-white">{{ questions[i-1]['options'][3] }}</label>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">ارسال پاسخ‌ها</button>
            <button type="button" class="btn btn-secondary me-2" id="buyDoc">خرید جزوه با 30 سکه!</button>
        </div>
        
        
        
    </form>
</section>

<!-- Modal for Success -->
<div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">تبریک 🎉</h5>
            </div>
            <div class="modal-body text-dark">
                <p>
                    تو موفق شدی این سیاره رو فتحی کنی! حالا کمربنتو ببند تا بریم سراغ سیاره بعدی.
                    بابت فتح این سیاره 100 سکه طلا به حسابت واریز شد!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('galaxy') }}'">
                    بزن بریم
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Failed -->
<div class="modal fade" id="failedModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">متاسفم!</h5>
            </div>
            <div class="modal-body text-dark">
                <p>
                    بنظر میرسه هنوز زور سفینت به این سیاره نمیرسه! یکم بیشتر تلاش کن یا اگه لازم میدونی جزوه بخر.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">متوجه شدم!</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Buy -->
{% if money >= 30 %}
<div class="modal fade" id="buyModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">وقت خرید جزوس!</h5>
            </div>
            <div class="modal-body text-dark">
                <p>
                    خرید جزوه کار عاقلانه ای بنظر میرسه و سکه کافی هم برای این کار داری، پس <a href="{{ url_for('static', filename='docs/riazi.pdf') }}" target="_blank" download>جزوه</a> رو دانلود کن و بخون.  .
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">متوجه شدم!</button>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="modal fade" id="buyModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">وقت خرید جزوس!</h5>
            </div>
            <div class="modal-body text-dark">
                <p>
                    وای!!! متاسفم واقعا ولی تو سکه کافی برای خرید جزوه نداری!!
                    <br>
                    نگران نباش! میتونی از <a href="{{ url_for('store') }}" class="text-primary">فروشگاه</a> سکه بخری!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">متوجه شدم!</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}



{% block js %}
<script src="{{ url_for('static', filename='js/exam.js') }}"></script>
{% endblock %}