{% extends 'layout.html' %}

{% block title %}
<title>کهکشان</title>
{% endblock %}

{% block content %}
<section class="match__result-area">
    <div id="dynamic-cards" class="game-container">
        <div class="game-heading-container">
            <h1 class="gfg-heading">
                  برای یادگیری یک مطلب جالب درسی، حافظه‌ت رو به چالش بکش!
            </h1>
        </div>
        <div class="game-cards-container">
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="1" src="{{ url_for('static', filename='img/galaxy/alien.png') }}" alt="HTML Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="2" src="{{ url_for('static', filename='img/galaxy/galaxy.png') }}" alt="JavaScript Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="3" src="{{ url_for('static', filename='img/galaxy/space-suit.png') }}" alt="CSS Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="4" src="{{ url_for('static', filename='img/galaxy/galaxy.png') }}" alt="JavaScript Image" class="card-image">
            </div>

            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="5" src="{{ url_for('static', filename='img/galaxy/alien.png') }}" alt="HTML Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="6" src="{{ url_for('static', filename='img/galaxy/startup.png') }}" alt="VUE Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="7" src="{{ url_for('static', filename='img/galaxy/space-suit.png') }}" alt="CSS Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="8" src="{{ url_for('static', filename='img/galaxy/star.png') }}" alt="React Image" class="card-image">
            </div>

            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="9" src="{{ url_for('static', filename='img/galaxy/startup.png') }}" alt="VUE Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="10" src="{{ url_for('static', filename='img/galaxy/ufo.png') }}" alt="Angular Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="11" src="{{ url_for('static', filename='img/galaxy/star.png') }}" alt="React Image" class="card-image">
            </div>
            <div class="game-card">
                <img src="{{ url_for('static', filename='img/galaxy/planets.png') }}" class="outline-image">
                <img id="12" src="{{ url_for('static', filename='img/galaxy/ufo.png') }}" alt="Angular Image" class="card-image">
            </div>
        </div>

        <div class="progress-container">
            <div class="move-counter">تعداد حرکات: 0</div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="gameModalLabel">نبریک 🎉</h5>
            </div>
            <div class="modal-body text-dark">
                پازل رو تو  <span id="moveCount"></span> حرکت حل کردی!
                جایزه‌ت اینه که این مطلب جالب رو یاد بگیری!
                <br><br>
                <p class="text-dark">{{ gift_content }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('exam') }}'">
                    بریم سراغ آزمون سیاره
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/puzzle.js') }}"></script>
{% endblock %}